extends layout
include ../partials/mixins

block content
  #user
    if user
      +navbar-mixin

      h4 Welcome #{user.username}
      
    else 
      h4 Please Sign in 
      a(href="/user/sign-in") Sign in
      h4 Don't have an account?
      a(href="/user/sign-up") Sign up