body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
}

a {
  color: #00B7FF;
}

#message {
  border-color: black;
  border-style: groove;
  border-width: 2px;
  margin: 10px;
}